#navbar{
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
h2{
    font-weight: lighter;
}
.h2Navbar:hover{
    color: blue;
    cursor: pointer;
}
